body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #38bdf8;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #334155;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
